name: update awesome-stars
on:
  workflow_dispatch:
  schedule:
  - cron: 30 11 * * *
jobs:
  awesome-stars:
    name: update awesome-stars
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.23
    - name: update repo
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      run: go run main.go --username whoaa512 --repository starred --sort --token ${GITHUB_TOKEN} --message 'update stars by github actions cron'
